{% extends 'base.html.twig' %}

{% block title %}Cambiar contrase単a contrase単a{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/autentificacion.css') }}">
{% endblock %}

{% block body %}
	{{ parent() }}
	<main>

    <article class="container mt-5">
			<div class="row justify-content-center">
				<div
					class="col-md-8">
					<!-- Card para la actividad -->
					<div class="card shadow-lg">
						<div class="card-body">
    <h2>Cambiar contrase単a</h2>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Establecer contrase単a</button>
    {{ form_end(resetForm) }}
	</div>
				</div>
			</div>
		</article>
	</main>

{% endblock %}

