{% extends 'base.html.twig' %}

{% block title %}{{ coordinador.nombre }}{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/stylesMain.css') }}">
{% endblock %}

{% block body %}
	{{ parent() }}

	<main>
		
		<section class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-auto text-start">
      <h2 class="display-4 fw-normal">{{ coordinador.nombre }}</h2>
      {% if siguiendo %}
        <form method="post" action="{{ path('dejarDeSeguir', { 'id': coordinador.id }) }}" class="d-inline">
          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coordinador.id) }}">
          <button type="submit" class="btn btn-secondary">Dejar de seguir</button>
        </form>
      {% else %}
        <form method="post" action="{{ path('seguirUsuario', { 'id': coordinador.id }) }}" class="d-inline">
          <input type="hidden" name="_token" value="{{ csrf_token('follow' ~ coordinador.id) }}">
          <button type="submit" class="btn btn-primary">Seguir</button>
        </form>
      {% endif %}
    </div>
  </div>
</section>

		
<section>
		{% if actividades is empty %}
			<h3>Este usuario no ha subido ninguna actividad todavia<i class="bi bi-x-circle"></i></h3>
		{% else %}
			{% for actividad in actividades %}
				{% if actividad.estado != 'desarrollo' %}

				<article class="search">
					
						<h3>{{ actividad.nombre }}</h3>
						<p><a href="{{ path('detallesUser', {'coordinador': actividad.coordinador.nombre}) }}">{{ actividad.coordinador.nombre }}</a></p>
						<p>
						{% if actividad.tipo == 'online' %}
							<i class="bi bi-laptop"></i> {{ actividad.tipo }}
						{% elseif actividad.tipo == 'presencial' %}
							<i class="bi bi-pin-map-fill"></i> {{ actividad.tipo }} -> calle {{ actividad.direccion.calle }} nº {{ actividad.direccion.numero }}{% if actividad.direccion.piso != null %} piso {{ actividad.direccion.numero }} {% endif %}, {{ actividad.direccion.ciudad }}
						{% else %}
							{{ actividad.tipo }}
						{% endif %}
						</p>
						<p>Categoría -> {{ actividad.categoria.nombre }}</p>
						<p class="estado">{% if actividad.estado == 'finalizado' or actividad.estado == 'cancelado' %}<i class="bi bi-circle-fill finCan"></i>{{actividad.estado}}{% elseif actividad.estado == 'publicado' %}<i class="bi bi-circle-fill publi"></i>Activo{% endif %}<p>
						<a href="{{ path('detallesAct', {'id': actividad.id})}}" class="btn btn-primary">Ver más</a>
					
				</article> 
		{% endif %}

			{% endfor %}
                
		{% endif %}
		</section>
	</main>
{% endblock %}
