

{% block body %}

	<nav class="d-flex flex-column flex-shrink-0 p-0 pt-5 bg-light navBarAct w-100 w-md-auto" style="width: 280px;">


		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				{% if actividad.direccion is not null %}
					<a href="{{ path('actualizar_direccion', {'actividadId': actividad.id , 'direccionId': direccion.id}) }}" class="nav-link {{ app.request.attributes.get('_route') == 'actualizar_direccion' ? 'active' : 'link-dark' }}" aria-current="page">Dirección</a>
				{% else %}
					<a href="{{ path('actualizar_direccion', {'actividadId': actividad.id , 'direccionId': 0}) }}" class="nav-link {{ app.request.attributes.get('_route') == 'actualizar_direccion' ? 'active' : 'link-dark' }}" aria-current="page">Dirección</a>

				{% endif %}

			</li>
			<li class="nav-item">

				<a href="{{ path('actualizar_actividad', {'actividadId': actividad.id}) }}" class="nav-link {{ app.request.attributes.get('_route') == 'actualizar_actividad' ? 'active' : 'link-dark' }}">Actividad</a>
			</li>
			<li class="nav-item">

				<a href="{{ path('actualizar_sesion', {'actividadId': actividad.id}) }}" class="nav-link {{ app.request.attributes.get('_route') == 'actualizar_sesion' ? 'active' : 'link-dark' }}">Sesiones</a>
			</li>
			<li class="nav-item text-center">

				<a href="{{ path('misActividades', {'id': app.user.id}) }}" class="nav-link link-dark fw-bold">Volver a Mis Actividades</a>
			</li>
		</ul>


	</nav>

{% endblock %}
